body {
  background-color: aquamarine;
}

.hero {
  background-image: url(imagenes/inicio_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: 0 0 0 / 70%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: white;
}

.contenido-hero .ubicacion {
  display: flex;
  align-items: flex-end;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 100%;
}

.card-header {
  background-color: #007bff;
  color: #ffffff;
}

.card-body {
  padding: 20px;
}

label {
  font-weight: bold;
}

button {
  width: 100%;
}
